<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- 스타일시트, javascript 적용 -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script type=text/javascript src="{{ url_for('static', filename='js/listing.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/webtoondetail.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/search.js') }}"></script>

    <title>웹투너</title>

    <script>
        $(document).ready(function() {
            listing();
        });
    </script>
</head>

<body>
    <div class="mytitle">
        <!-- 로그인 / 회원가입 페이지로 연결 -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-bottom: auto; margin-left: auto;">
            <!-- <p class="h6" style="margin-right: 10px; padding-top: 20px;">사용자이름</p> -->
            <button type="button" class="btn btn-outline-success btn-sm" style="margin-right: 10px; margin-top: 10px;"><a href="/login">로그인</a></button>
            <button type="button" class="btn btn-outline-danger btn-sm" style="margin-right: 10px; margin-top: 10px;"><a href="/register">회원가입</a></button>
        </div>
        
        <div class="search-box">
            <h1 style="margin-bottom: 20px;">Webtooner!</h1>

            <input id="search_area" type="text" placeholder="웹툰 검색" name="query" style="margin-bottom: 50px;">
            <button onclick="search()" style="margin-bottom: 50px;"> 검색 </button>

        </div>
    </div>

    <div class="mycards">
        <div class="row row-cols-2 row-cols-md-5 g-4" id="cards-box">
            <!-- 웹툰 카드 들어갈 공간 -->
        </div>
        <!-- 카드 클릭 시 모달 창 팝업 -->
        <div id="modal_frame" class="modal_frame">

        </div>
    </div>

</body>

</html>